<h1>My Lists</h1>
<div class="col-md-12">
  <% @lists.each do |l| %>
    <div class="col-md-5 listthumb jumbotron">
      <h3><%= link_to l.title, user_list_path(@user, l) %></h3>
    </div>
    <div class="col-md-1">
    </div>
  <% end %>
</div>