  <br/>
  <div class="jumbotron">
    <h1>S.M.A.R.T Tasks</h1>
    <p class="lead">Get Things done.</p>
    <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary', id: 'hSignInBtn' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary', id: 'hSignUpBtn' %>
    </p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>S.M.A.R.T. Goals</h4>
      <p>Set your goals the SMART way.</p>

      <h4>Specific</h4>
      <p>Target a specific area for improvement.</p>

      <h4>Measurable</h4>
      <p>Quantify or at least suggest an indicator of progress.</p>
    </div>

    <div class="col-lg-6">
      <h4>Achievable</h4>
      <p>Set goals that you can accomplish.</p>

      <h4>Realistic</h4>
      <p>state what results can realistically be achieved, given available resources.</p>

      <h4>Time-bound</h4>
      <p>Specify when the result(s) can be achieved.</p>
    </div>
  </div>

